<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursive</key>
	<array>
		<string>Apple-Chancery</string>
		<string>.AppleSymbolsFB</string>
		<string>GeezaPro</string>
		<string>Thonburi</string>
		<string>KohinoorDevanagari-Book</string>
		<string>Kokonor</string>
		<array>
			<array>
				<string>zh-Hans</string>
				<string>STKaiti-SC-Regular</string>
			</array>
			<array>
				<string>zh-Hant</string>
				<string>STKaiTi-TC-Regular</string>
			</array>
			<array>
				<string>ja</string>
				<string>HiraMinProN-W3</string>
			</array>
			<array>
				<string>ko</string>
				<string>AppleMyungjo</string>
			</array>
		</array>
		<string>BanglaMN</string>
		<string>GujaratiSangamMN</string>
		<string>GurmukhiMN</string>
		<string>KannadaMN</string>
		<string>KhmerMN</string>
		<string>LaoMN</string>
		<string>MalayalamMN</string>
		<string>MyanmarMN</string>
		<string>OriyaMN</string>
		<string>SinhalaMN</string>
		<string>TamilSangamMN</string>
		<string>TeluguMN</string>
		<string>Mshtakan</string>
		<string>EuphemiaUCAS</string>
		<string>PlantagenetCherokee</string>
	</array>
	<key>default</key>
	<array>
		<string>.AppleSystemFallback-Regular</string>
		<string>.LucidaGrandeUI</string>
		<string>.AppleSymbolsFB</string>
		<string>.GeezaProInterface</string>
		<string>Thonburi</string>
		<string>Kokonor</string>
		<array>
			<array>
				<string>zh-Hans</string>
				<string>.AppleSimplifiedChineseFont-Regular</string>
			</array>
			<array>
				<string>zh-Hant</string>
				<string>.AppleTraditionalChineseFont-Regular</string>
			</array>
			<array>
				<string>ja</string>
				<string>.AppleJapaneseFont-Regular</string>
			</array>
			<array>
				<string>ko</string>
				<string>.AppleKoreanFont-Regular</string>
			</array>
		</array>
		<string>BanglaSangamMN</string>
		<string>KohinoorDevanagari-Book</string>
		<string>GujaratiSangamMN</string>
		<string>GurmukhiMN</string>
		<string>KannadaSangamMN</string>
		<string>KhmerSangamMN</string>
		<string>LaoSangamMN</string>
		<string>MalayalamSangamMN</string>
		<string>MyanmarSangamMN</string>
		<string>OriyaSangamMN</string>
		<string>SinhalaSangamMN</string>
		<string>TamilSangamMN</string>
		<string>TeluguSangamMN</string>
		<string>Mshtakan</string>
		<string>EuphemiaUCAS</string>
		<string>PlantagenetCherokee</string>
	</array>
	<key>fantasy</key>
	<array>
		<string>Zapfino</string>
		<string>.AppleSymbolsFB</string>
		<string>GeezaPro</string>
		<string>Thonburi</string>
		<string>KohinoorDevanagari-Book</string>
		<string>Kokonor</string>
		<array>
			<array>
				<string>zh-Hans</string>
				<string>STKaiti-SC-Regular</string>
			</array>
			<array>
				<string>zh-Hant</string>
				<string>STKaiTi-TC-Regular</string>
			</array>
			<array>
				<string>ja</string>
				<string>HiraMinProN-W3</string>
			</array>
			<array>
				<string>ko</string>
				<string>AppleMyungjo</string>
			</array>
		</array>
		<string>BanglaMN</string>
		<string>GujaratiSangamMN</string>
		<string>GurmukhiMN</string>
		<string>KannadaMN</string>
		<string>KhmerMN</string>
		<string>LaoMN</string>
		<string>MalayalamMN</string>
		<string>MyanmarMN</string>
		<string>OriyaMN</string>
		<string>SinhalaMN</string>
		<string>TamilSangamMN</string>
		<string>TeluguMN</string>
		<string>Mshtakan</string>
		<string>EuphemiaUCAS</string>
		<string>PlantagenetCherokee</string>
	</array>
	<key>monospace</key>
	<array>
		<string>Monaco</string>
		<string>.AppleSymbolsFB</string>
		<string>LucidaGrande</string>
		<string>CourierNewPSMT</string>
		<string>Ayuthaya</string>
		<string>Kailasa</string>
		<array>
			<array>
				<string>zh-Hans</string>
				<string>STHeitiSC-Light</string>
			</array>
			<array>
				<string>zh-Hant</string>
				<string>STHeitiTC-Light</string>
			</array>
			<array>
				<string>ja</string>
				<string>HiraKakuProN-W3</string>
			</array>
			<array>
				<string>ko</string>
				<string>AppleSDGothicNeo-Regular</string>
			</array>
		</array>
		<string>BanglaSangamMN</string>
		<string>KohinoorDevanagari-Book</string>
		<string>GujaratiSangamMN</string>
		<string>GurmukhiMN</string>
		<string>KannadaSangamMN</string>
		<string>KhmerSangamMN</string>
		<string>LaoSangamMN</string>
		<string>MalayalamSangamMN</string>
		<string>MyanmarSangamMN</string>
		<string>OriyaSangamMN</string>
		<string>SinhalaSangamMN</string>
		<string>TamilSangamMN</string>
		<string>TeluguSangamMN</string>
		<string>Mshtakan</string>
		<string>EuphemiaUCAS</string>
		<string>PlantagenetCherokee</string>
	</array>
	<key>sans-serif</key>
	<array>
		<string>LucidaGrande</string>
		<string>.AppleSymbolsFB</string>
		<string>GeezaPro</string>
		<string>Thonburi</string>
		<string>Kailasa</string>
		<array>
			<array>
				<string>zh-Hans</string>
				<string>STHeitiSC-Light</string>
			</array>
			<array>
				<string>zh-Hant</string>
				<string>STHeitiTC-Light</string>
			</array>
			<array>
				<string>ja</string>
				<string>HiraKakuProN-W3</string>
			</array>
			<array>
				<string>ko</string>
				<string>AppleSDGothicNeo-Regular</string>
			</array>
		</array>
		<string>BanglaSangamMN</string>
		<string>KohinoorDevanagari-Book</string>
		<string>GujaratiSangamMN</string>
		<string>GurmukhiMN</string>
		<string>KannadaSangamMN</string>
		<string>KhmerSangamMN</string>
		<string>LaoSangamMN</string>
		<string>MalayalamSangamMN</string>
		<string>MyanmarSangamMN</string>
		<string>OriyaSangamMN</string>
		<string>SinhalaSangamMN</string>
		<string>TamilSangamMN</string>
		<string>TeluguSangamMN</string>
		<string>Mshtakan</string>
		<string>EuphemiaUCAS</string>
		<string>PlantagenetCherokee</string>
	</array>
	<key>serif</key>
	<array>
		<string>Times-Roman</string>
		<string>Symbol</string>
		<string>LucidaGrande</string>
		<string>.AppleSymbolsFB</string>
		<string>GeezaPro</string>
		<string>Thonburi</string>
		<string>Kokonor</string>
		<array>
			<array>
				<string>zh-Hans</string>
				<string>STSongti-SC-Regular</string>
			</array>
			<array>
				<string>zh-Hant</string>
				<string>STSongti-TC-Regular</string>
			</array>
			<array>
				<string>ja</string>
				<string>HiraMinProN-W3</string>
			</array>
			<array>
				<string>ko</string>
				<string>AppleMyungjo</string>
			</array>
		</array>
		<string>BanglaMN</string>
		<string>ITFDevanagari-Book</string>
		<string>GujaratiSangamMN</string>
		<string>GurmukhiMN</string>
		<string>KannadaMN</string>
		<string>KhmerMN</string>
		<string>LaoMN</string>
		<string>MalayalamMN</string>
		<string>MyanmarMN</string>
		<string>OriyaMN</string>
		<string>SinhalaMN</string>
		<string>TamilSangamMN</string>
		<string>TeluguMN</string>
		<string>Mshtakan</string>
		<string>EuphemiaUCAS</string>
		<string>PlantagenetCherokee</string>
	</array>
</dict>
</plist>
